body {
    font-family: Arial, Helvetica, sans-serif;

}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn-primary:focus {
    background-color: #007bff;
    outline: none;
    box-shadow: none;
    border-color: #007bff;
}

.scoreItem {
    padding-left: 5px;
    font-weight: bold;
    font-size: large;    
}

#highScoreLocation {
    background-color: gray;
    margin-left: 15px;
    padding: 0px 25px 0px 25px;
}