body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn-primary:focus {
    background-color: #007bff;
}